* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #74cc2d;
    color: white;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: gray;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}

/* ----------------------main section--------------------- */

.main-section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url('https://static.platzi.com/media/tmp/class-files/git/Desarrollo_web/Desarrollo_web-c10/images/curve.png');
    height: 200px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
}

.product {
    padding: 10px;
}

.product .content {
    padding: 20px;
    background-color: white;
}